.p1{font-size: larger;
    padding: 15px;
    margin: 15px;
    border: 0;
    font-style:normal;
}
.p2{font-size: larger;
    padding: 15px;
    margin: 15px;
    border: 0;
    font-style:normal;
}
.p3{
    font-size: larger;
    padding: 15px;
    margin: 15px;
    border: 0;
    font-style:normal;
}
.e{
    font-style: italic;
    padding: 15px;
    margin: 15px;
}
