.par1{
    width: 500px;
    height: 100px;
    padding: 0;
    margin: 0;
    border: 0;
}
.par2{
    background-color: blue;
    width: 500px;
    height: 50px;
    padding: 23px;
    margin: 50px;
    border: 5px solid red;
}
.right{
    width: 100px;
    float: right;
}
.left{
    width: 100px;
    float: left;
}