div{
    width: 500px;
    height: 100px;
}
.static{
    position: static;
    background-color:  blue;
}
.relative{
    position: relative;
    background-color: red;
    left: 100px;
    opacity: 45;
}
.sticky{
    position: sticky;
    background-color: blueviolet;
    color: green;
    left: 20px;
    top: 5px;
    opacity: 0.5;
}
.absolute{
    position: absolute;
    background-color: greenyellow;
    left: 50px;
    opacity: 24;
}
.fixed{
    position: fixed;
    background-color: aqua;
    right: 50px;
    opacity: 0.1;
}
